<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<endpoints xdt:Transform="Replace" timeoutSeconds="60" baseAddress="http://10.10.137.96:35003/request">
		<endpoint contract="GetAllCustomerDetail" address="/getcustomerdetails" />
		<endpoint contract="GetAccounts" address="/getaccounts" />
		<endpoint contract="VerifyPinAsync" address="/pinverification" />
		<endpoint contract="CashWithdrawalDebitCardAsync" address="/cashwithdrawal" />
		<endpoint contract="ReverseCashWithdrawalUsingDebitCardAsync" address="/cashwithdrawalreversal" />
		<endpoint contract="GetCardImage" address="/getcardimages" />
		<endpoint contract="SendSmsOtpAsync" address="/sendsmsotp" />
		<endpoint contract="ValidateSmsOtpAsync" address="/validatesmsotp" />
		<endpoint contract="GetLoanAccountsAsync" address="/getloanaccounts" />
		<endpoint contract="GetDepositAccountsAsync" address="/getdepositaccounts" />
		<endpoint contract="GetCreditCardAsync" address="/getcreditcards" />
		<endpoint contract="GetCreditCardDetailAsync" address="/getcreditcarddetails" />
		<endpoint contract="GetEmiratesIdStatusAsync" address="/validateeid" />
		<endpoint contract="ExchangeRateAsync" address="/applyexchangerate" />
		<endpoint contract="GetAccountDetail" address="/getaccountdetail" />
		<endpoint contract="SendEmailAsync" address="/sendemail" />
		<endpoint contract="GenerateTSNAsync" address="/generatetsn" />
		<endpoint contract="SendDeviceStatusAsync" address="/addDeviceStatus" />
		<endpoint contract="GetStatementItemAsync" address="/getaccounttransactionhistory" />
		<endpoint contract="CashDepositAsync" address="/cashdepositaccount" />
		<endpoint contract="GetStatementChargesAsync" address="/getstatementcharge" />
		<endpoint contract="ApplyStatementChargesAsync" address="/applystatementcharge" />
		<endpoint contract="RegisterCallAsync" address="/registercall" />
		<endpoint contract="GetCustomerIdentifierAsync" address="/getCustomerIdentifier" />
		<endpoint contract="GetDebitCardsAsync" address="/getdebitcards" />
		<endpoint contract="IssueChequeBookAsync" address="/issueChequeBook" />
		<endpoint contract="DliverChequeBookAsync" address="/deliverChequeBook" />
		<endpoint contract="GetChequePrintingChargeAsync" address="/getchequeprintingcharge" />
		<endpoint contract="ReverseChargeAsync" address="/reversecharge" />
		<endpoint contract="ProductInfoAsync" address="/saveproductinfo" />
		<endpoint contract="CoordinationNumberAsync" address="/getcoordinationnumber" />
		<endpoint contract="ChequeDepositAsync" address="/chequedeposit" />
		<endpoint contract="InsertEventAsync" address="/insertDeviceEvents" />
		<endpoint contract="GetLinkedAccountAsync" address="/getlinkedaccount" />
		<endpoint contract="SendSMSAsync" address="/sendsms" />
    <endpoint contract="TransactionNotificationAsync" address="/transactionnotification" />
		
	</endpoints>
</configuration>