<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging" />
		<section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
		<section name="terminal" type="Omnia.Pie.Vtm.Framework.Configurations.TerminalSection, Omnia.Pie.Vtm.Framework" />

	</configSections>

	<appSettings>
		<add key="NdcIp" value="192.168.108.17" />
		<!--<add key="NdcIp" value="192.168.108.26" />-->
		<add key="NdcPort" value="7060" />
		<add key="CertificateLocation" value="D:\\Omnia Stuff\\server_certificate.cer" />
		<add key="NDCRequestTimeOut" value="60000" /> <!--Timeout is in milliseconds-->
	</appSettings>

	<loggingConfiguration tracingEnabled="true" defaultCategory="General">
		<listeners>
			<add name="Rolling Flat File Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging" fileName="Logs/General.log" footer="---------------------------" formatter="Text Formatter" header="---------------------------" rollFileExistsBehavior="Increment" rollInterval="Week" rollSizeKB="20000" timeStampPattern="yyyy-MM-dd hh:mm:ss" maxArchivedFiles="7" traceOutputOptions="LogicalOperationStack, DateTime, Timestamp, ProcessId, ThreadId, Callstack" filter="All" />
		</listeners>
		<formatters>
			<add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging" template="{timestamp(local:yyyy-MM-dd HH:mm)} | {severity} | {message}" name="Text Formatter" />
		</formatters>
		<categorySources>
			<add switchValue="All" name="General">
				<listeners>
					<add name="Rolling Flat File Trace Listener" />
				</listeners>
			</add>
		</categorySources>
		<specialSources>
			<allEvents switchValue="All" name="All Events" />
			<notProcessed switchValue="All" name="Unprocessed Category" />
			<errors switchValue="All" name="Logging Errors &amp; Warnings" />
		</specialSources>
	</loggingConfiguration>

	<unity>
		<container>
			<register type="Omnia.Pie.Vtm.Framework.Interface.IResolver, Omnia.Pie.Vtm.Framework.Interface" mapTo="Omnia.Pie.Vtm.Framework.Container.UnityResolver, Omnia.Pie.Vtm.Framework">
				<lifetime type="singleton" />
			</register>
			<register type="Omnia.Pie.Vtm.Framework.Interface.ILogger, Omnia.Pie.Vtm.Framework.Interface" mapTo="Omnia.Pie.Vtm.Framework.Logger.EnterpriseLibraryLogger, Omnia.Pie.Vtm.Framework">
				<constructor>
					<param name="category" value="General" />
				</constructor>
				<lifetime type="singleton" />
			</register>
			<register name="JournalLogger" type="Omnia.Pie.Vtm.Framework.Interface.ILogger, Omnia.Pie.Vtm.Framework.Interface" mapTo="Omnia.Pie.Vtm.Framework.Logger.EnterpriseLibraryLogger, Omnia.Pie.Vtm.Framework">
				<constructor>
					<param name="category" value="Journal" />
				</constructor>
				<lifetime type="singleton" />
			</register>
			<register type="Omnia.Pie.Client.Journal.Interface.IJournal, Omnia.Pie.Client.Journal.Interface" mapTo="Omnia.Pie.Client.Journal.Journal, Omnia.Pie.Client.Journal">
				<constructor>
					<param name="logger" />
					<param name="journalStore" />
					<param name="journalConfiguration" />
					<param name="journalPrinter" />
					<param name="journalLogger">
						<dependency name="JournalLogger" />
					</param>
				</constructor>
				<lifetime type="singleton" />
			</register>
			<register type="Omnia.Pie.Client.Journal.Interface.IJournalConfiguration, Omnia.Pie.Client.Journal.Interface" mapTo="Omnia.Pie.Client.Journal.JournalConfiguration, Omnia.Pie.Client.Journal">
				<lifetime type="singleton" />
			</register>

			<register type="Omnia.Pie.Vtm.ServicesNdc.INdcTcpClient, Omnia.Pie.Vtm.ServicesNdc" mapTo="Omnia.Pie.Vtm.ServicesNdc.NdcTcpClient, Omnia.Pie.Vtm.ServicesNdc">
				<lifetime type="singleton" />
			</register>
			<register type="Omnia.Pie.Vtm.Framework.Interface.Tcp.ISSLClient, Omnia.Pie.Vtm.Framework.Interface" mapTo="Omnia.Pie.Vtm.ServicesNdc.Base.NDCSSLClient, Omnia.Pie.Vtm.ServicesNdc">
				<lifetime type="singleton" />
			</register>
			<!--<register type="Omnia.Pie.Vtm.Services.Interface.IServiceManager, Omnia.Pie.Vtm.Services.Interface" mapTo="Omnia.Pie.Vtm.Services.ServiceManager, Omnia.Pie.Vtm.Services">
				<lifetime type="singleton" />
			</register>
			<register type="Omnia.Pie.Vtm.Services.Interface.IContractExceptionManager, Omnia.Pie.Vtm.Services.Interface" mapTo="Omnia.Pie.Vtm.Services.ContractExceptionManager, Omnia.Pie.Vtm.Services">
				<lifetime type="singleton" />
			</register>
			<register type="Omnia.Pie.Vtm.Services.Interface.IServiceEndpoint, Omnia.Pie.Vtm.Services.Interface" mapTo="Omnia.Pie.Vtm.Services.ServiceEndpoint, Omnia.Pie.Vtm.Services">
				<lifetime type="singleton" />
			</register>-->
			<register type="Omnia.Pie.Vtm.Framework.Interface.ITcpClient, Omnia.Pie.Vtm.Framework.Interface" mapTo="Omnia.Pie.Vtm.Framework.TcpClient, Omnia.Pie.Vtm.Framework" />
			<register type="Omnia.Pie.Vtm.ServicesNdc.Interface.INdcService, Omnia.Pie.Vtm.ServicesNdc.Interface" mapTo="Omnia.Pie.Vtm.ServicesNdc.NdcService, Omnia.Pie.Vtm.ServicesNdc" />

		</container>
	</unity>

	<terminal id="AHB1001" currency="784" locationCity="DUB" locationCountry="UAE" location="Omnia-IRise Tower" merchantId="00012785652" type="01" ownerName="AHB" stateName="DUB" acquiringInstitutionId="519855" branchId="000112" />
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
	</startup>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.4.0" newVersion="4.0.4.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.Logging" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>