<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<endpoints xdt:Transform="Replace" timeoutSeconds="60" baseAddress="http://192.168.1.30/request">
		<endpoint contract="GetAllCustomerDetail" address="/getUserInformation" />
		<endpoint contract="GetAccounts" address="/getaccounts" />
		<endpoint contract="VerifyPinAsync" address="/pinverification" />
		<endpoint contract="CashWithdrawalDebitCardAsync" address="/cashwithdrawal" />
		<endpoint contract="ReverseCashWithdrawalUsingDebitCardAsync" address="/cashwithdrawalreversal" />
		<endpoint contract="GetCardImage" address="/getcardimages" />
		<endpoint contract="SendSmsOtpAsync" address="/sendsmsotp" />
		<endpoint contract="ValidateSmsOtpAsync" address="/validatesmsotp" />
		<endpoint contract="GetLoanAccountsAsync" address="/getloanaccounts" />
		<endpoint contract="GetDepositAccountsAsync" address="/getdepositaccounts" />
		<endpoint contract="GetCreditCardAsync" address="/getcreditcards" />
		<endpoint contract="GetCreditCardDetailAsync" address="/getcreditcarddetails" />
		<endpoint contract="GetEmiratesIdStatusAsync" address="/validateeid" />
		<endpoint contract="ExchangeRateAsync" address="/applyexchangerate" />
		<endpoint contract="GetAccountDetail" address="/getaccountdetail" />
		<endpoint contract="SendEmailAsync" address="/sendemail" />
		<endpoint contract="GenerateTSNAsync" address="/generatetsn" />
		<endpoint contract="SendDeviceStatusAsync" address="/addDeviceStatus" />
		<endpoint contract="GetStatementItemAsync" address="/getaccounttransactionhistory" />
    <endpoint contract="GetUserTransactionsAsync" address="/getusertransactions" />
		<endpoint contract="CashDepositAsync" address="/cashdepositaccount" />
		<endpoint contract="GetStatementChargesAsync" address="/getstatementcharge" />
		<endpoint contract="ApplyStatementChargesAsync" address="/applystatementcharge" />
		<endpoint contract="RegisterCallAsync" address="/registercall" />
		<endpoint contract="GetCustomerIdentifierAsync" address="/getCustomerIdentifier" />
		<endpoint contract="GetDebitCardsAsync" address="/getdebitcards" />
		<endpoint contract="IssueChequeBookAsync" address="/issueChequeBook" />
		<endpoint contract="DliverChequeBookAsync" address="/deliverChequeBook" />
		<endpoint contract="GetChequePrintingChargeAsync" address="/getchequeprintingcharge" />
		<endpoint contract="ReverseChargeAsync" address="/reversecharge" />
		<endpoint contract="ProductInfoAsync" address="/saveproductinfo" />
		<endpoint contract="CoordinationNumberAsync" address="/getcoordinationnumber" />
		<endpoint contract="ChequeDepositAsync" address="/chequedeposit" />
		<endpoint contract="InsertEventAsync" address="/insertDeviceEvents" />
		<endpoint contract="GetLinkedAccountAsync" address="/getlinkedaccount" />
		<endpoint contract="SendSMSAsync" address="/sendsms" />
		<endpoint contract="TransactionNotificationAsync" address="/transactionnotification" />
    <endpoint contract="GetUserInformationAsync" address="/getUserInformation" />
    <endpoint contract="UpdateUserInformationAsync" address="/updateUserInformation" />
    <endpoint contract="ValidatePasswordAsync" address="/validatePassword" />
    <endpoint contract="UpdatePasswordAsync" address="/changePassword" />
    <endpoint contract="CreateUserAsync" address="/createNewUser" />
    <endpoint contract="RegisterFingerprintAsync" address="/registerFingerprint" />
    <endpoint contract="GetAllUsersAsync" address="/getAllUsers" />
    <endpoint contract="ValidateFingerprintAsync" address="/validateFingerprint " />
    <endpoint contract="GetUserTypesAsync" address="/getUserTypes " />
    <endpoint contract="GetNewUsersAsync" address="/downloadNewUsers" />
    
    <!--<endpoint contract="ActiveDirectorySignIn" address="/doActiveDirectorySignIn"/>
		<endpoint contract="StartTransaction" address="/doStartTransaction"/>
		<endpoint contract="GetLinkedAccounts" address="/getLinkedAccounts"/>
		<endpoint contract="GetCardBalance" address="/getCardBalance"/>
		<endpoint contract="WithdrawCashUsingDebitCard" address="/withdrawCashUsingDebitCard"/>
		<endpoint contract="WithdrawCashUsingCreditCard" address="/withdrawCashUsingCreditCard"/>
		<endpoint contract="WithdrawCashUsingEmiratesId" address="/withdrawCashUsingEmiratesId"/>
		<endpoint contract="WithdrawCashCardless" address="/withdrawCashCardless"/>
		<endpoint contract="DepositCashToAccount" address="/depositCashToAccount"/>
		<endpoint contract="DepositCashToCreditCard" address="/depositCashToCreditCard"/>
		<endpoint contract="ReverseCashWithdrawal" address="/reverseCashWithdrawal"/>
		<endpoint contract="RegisterCommunicationCall" address="/doRegisterCommunicationCall"/>
		<endpoint contract="GetAccountsForCriterionCondition" address="/doFGBAccountsForCriterionCondition"/>
		<endpoint contract="IdentifyCustomerIdentifier" address="/doFGBGetCustomerIdentifier"/>
		<endpoint contract="ValidateCustomer" address="/doFGBValidateCustomer"/>
		<endpoint contract="RetrieveCustomerDetails" address="/doFGBGetCustomerDetails"/>
		<endpoint contract="RetrieveAccountsForCustomer" address="/getFGBAccounts"/>
		<endpoint contract="GetLoanArrangementsForCustomer" address="/doFGBGetLoanArrangement"/>
		<endpoint contract="RetrieveDepositAccounts" address="/doFGBGetDepositAccounts"/>
		<endpoint contract="RetrieveCustomerCreditCards" address="/doFGBGetCustomerCreditCards"/>
		<endpoint contract="GetCustomerContactPreference" address="/doFGBGetCustomerContactPreferences"/>
		<endpoint contract="RetrieveCreditCardsForPayment" address="/doFGBGetCreditCardForPayment"/>
		<endpoint contract="UpdateIndividualContactPreference" address="/doFGBUpdateIndividualContactPreference"/>
		<endpoint contract="UpdateIndividualDemographicInformation" address="/doFGBUpdateIndividualDemographicInformation"/>
		<endpoint contract="UpdateIndividualIdentifier" address="/doFGBUpdateIndividualIdentifier"/>
		<endpoint contract="SearchIndividualCustomer" address="/doFGBSearchIndividualCustomer"/>
		<endpoint contract="VerifyArrangement" address="/doFGBValidateFGBAccount"/>
		<endpoint contract="GetLoanDetails" address="/doFGBGetLoanAccountDetails"/>
		<endpoint contract="GetLoanSchedule" address="/doFGBGetLoanSchedule"/>
		<endpoint contract="RetrieveAccountMinistatement" address="/doFGBGetAccountMinistatement"/>
		<endpoint contract="RetrieveAccountDetails" address="/doFGBGetAccountDetails"/>
		<endpoint contract="GetCreditCardDetails" address="/doFGBRetrieveCreditCardDetails"/>
		<endpoint contract="GetTransferLimit" address="/doFGBTransferLimits"/>
		<endpoint contract="ApplyExchangeRate" address="/doFGBApplyExchangeRate"/>
		<endpoint contract="RequestChequebook" address="/doFGBRequestCheckbook"/>
		<endpoint contract="GetCustomerDebitCards" address="/doFGBCustomerDebitCards"/>
		<endpoint contract="CreateLead" address="/doFGBCreateLead"/>
		<endpoint contract="TransferFundsOwn" address="/doFGBFundsTransferAccountsOwn"/>
		<endpoint contract="GetBeneficiary" address="/doFGBGetBeneficiaryList"/>
		<endpoint contract="TransferFundsOther" address="/doFGBFundsTransferAccountsOther"/>
		<endpoint contract="ValidateDuplicateBeneficiary" address="/doFGBValidateDuplicateBeneficiary"/>
		<endpoint contract="AddBeneficiary" address="/doFGBAddBeneficiary"/>
		<endpoint contract="SendSmsOtpMule" address="/doFGBSendSMSOTPMule"/>
		<endpoint contract="PayBill" address="/doFGBPayBill"/>
		<endpoint contract="GetMasterData" address="/doFGBGetMasterData"/>
		<endpoint contract="GetUtilityPaymentLimit" address="/doFGBGetUtilityPaymentLimit"/>
		<endpoint contract="AadcAccountPayment" address="/doFGBAadcAccountPayment"/>
		<endpoint contract="AadcCardPayment" address="/AadcCardPayment"/>
		<endpoint contract="AddcAccountPayment" address="/doFGBAddcAccountPayment"/>
		<endpoint contract="AddcCardPayment" address="/AddcCardPayment"/>
		<endpoint contract="DewaAccountPayment" address="/doFGBDewaAccountPayment"/>
		<endpoint contract="DewaCardPayment" address="/DewaCardPayment"/>
		<endpoint contract="DuAccountPayment" address="/doFGBDuAccountPayment"/>
		<endpoint contract="DuCardPayment" address="/DuCardPayment"/>
		<endpoint contract="DuRechargeAccountPayment" address="/doFGBDuRechargeAccountPayment"/>
		<endpoint contract="DuRechargeCardPayment" address="/DuRechargeCardPayment"/>
		<endpoint contract="EtisalatAccountPayment" address="/doFGBEtisalatAccountPayment"/>
		<endpoint contract="EtisalatCardPayment" address="/EtisalatCardPayment"/>
		<endpoint contract="GetAadcBalance" address="/doFGBGetAadcBalance"/>
		<endpoint contract="GetAddcBalance" address="/doFGBGetAddcBalance"/>
		<endpoint contract="GetDewaBalance" address="/doFGBDewaBalance"/>
		<endpoint contract="GetDuBalance" address="/doFGBGetDuBalance"/>
		<endpoint contract="GetDuRechargeBalance" address="/doFGBGetDuRechargeBalance"/>
		<endpoint contract="GetEtisalatBalance" address="/doFGBGetEtisalatBalance"/>
		<endpoint contract="GetSalikBalance" address="/doFGBGetSalikBalance"/>
		<endpoint contract="GetSewaBalance" address="/doFGBGetSewaBalance"/>
		<endpoint contract="GetWaselBalance" address="/doFGBGetWaselBalance"/>
		<endpoint contract="SalikAccountPayment" address="/doFGBSalikAccountPayment"/>
		<endpoint contract="SalikCardPayment" address="/salikCreditCardPayment"/>
		<endpoint contract="SewaAccountPayment" address="/doFGBSewaAccountPayment"/>
		<endpoint contract="SewaCardPayment" address="/SewaCardPayment"/>
		<endpoint contract="WaselAccountPayment" address="/doFGBWaselAccountPayment"/>
		<endpoint contract="WaselCardPayment" address="/WaselCardPayment"/>
		<endpoint contract="UploadDocument" address="/doFGBUploadDocument"/>
		<endpoint contract="SendEmail" address="/doFGBSendEmail"/>-->

	</endpoints>
</configuration>