<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<clients xdt:Transform="Replace" timeoutSeconds="60">
		<client class="Omnia.Pie.Client.Repositories.Clients.ActiveDirectoryClient" baseAddress="http://192.168.108.25:35003/service/transaction">
			<endpoint contract="ActiveDirectorySignIn" address="/doActiveDirectorySignIn"/>
		</client>

		<client class="Omnia.Pie.Client.Repositories.Clients.TransactionClient" baseAddress="http://192.168.108.25:35003/service/transaction">
			<endpoint contract="StartTransaction" address="/doStartTransaction"/>
		</client>

		<client class="Omnia.Pie.Client.Repositories.Clients.AuthenticationClient" baseAddress="http://192.168.108.25:35003/service/transaction">
			<endpoint contract="VerifyPin" address="/getValidatePin"/>
			<endpoint contract="GetLinkedAccounts" address="/getLinkedAccounts"/>
			<endpoint contract="GetCardBalance" address="/getCardBalance"/>
		</client>

		<client class="Omnia.Pie.Client.Repositories.Clients.AtmClient" baseAddress="http://192.168.108.25:35003/service/transaction">
			<endpoint contract="WithdrawCashUsingDebitCard" address="/withdrawCashUsingDebitCard"/>
			<endpoint contract="WithdrawCashUsingCreditCard" address="/withdrawCashUsingCreditCard"/>
			<endpoint contract="WithdrawCashUsingEmiratesId" address="/withdrawCashUsingEmiratesId"/>
			<endpoint contract="WithdrawCashCardless" address="/withdrawCashCardless"/>
			<endpoint contract="DepositCashToAccount" address="/depositCashToAccount"/>
			<endpoint contract="DepositCashToCreditCard" address="/depositCashToCreditCard"/>
			<endpoint contract="ReverseCashWithdrawal" address="/reverseCashWithdrawal"/>
		</client>

		<client class="Omnia.Pie.Client.Repositories.Clients.CommunicationClient" baseAddress="http://192.168.108.25:35003/service/transaction">
			<endpoint contract="RegisterCommunicationCall" address="/doRegisterCommunicationCall"/>
		</client>

		<client class="Omnia.Pie.Client.Repositories.Clients.CustomerClient" baseAddress="http://192.168.108.25:35003/service/transaction">
			<endpoint contract="GetAccountsForCriterionCondition" address="/doFGBAccountsForCriterionCondition"/>
			<endpoint contract="IdentifyCustomerIdentifier" address="/doFGBGetCustomerIdentifier"/>
			<endpoint contract="ValidateCustomer" address="/doFGBValidateCustomer"/>
			<endpoint contract="RetrieveCustomerDetails" address="/doFGBGetCustomerDetails"/>
			<endpoint contract="RetrieveAccountsForCustomer" address="/getFGBAccounts"/>
			<endpoint contract="GetLoanArrangementsForCustomer" address="/doFGBGetLoanArrangement"/>
			<endpoint contract="RetrieveDepositAccounts" address="/doFGBGetDepositAccounts"/>
			<endpoint contract="RetrieveCustomerCreditCards" address="/doFGBGetCustomerCreditCards"/>
			<endpoint contract="GetCustomerContactPreference" address="/doFGBGetCustomerContactPreferences"/>
			<endpoint contract="RetrieveCreditCardsForPayment" address="/doFGBGetCreditCardForPayment"/>
			<endpoint contract="UpdateIndividualContactPreference" address="/doFGBUpdateIndividualContactPreference"/>
			<endpoint contract="UpdateIndividualDemographicInformation" address="/doFGBUpdateIndividualDemographicInformation"/>
			<endpoint contract="UpdateIndividualIdentifier" address="/doFGBUpdateIndividualIdentifier"/>
		</client>

		<client class="Omnia.Pie.Client.Repositories.Clients.CustomerV2Client" baseAddress="http://192.168.108.25:35003/service/transaction">
			<endpoint contract="SearchIndividualCustomer" address="/doFGBSearchIndividualCustomer"/>
		</client>

		<client class="Omnia.Pie.Client.Repositories.Clients.ArrangementClient" baseAddress="http://192.168.108.25:35003/service/transaction">
			<endpoint contract="VerifyArrangement" address="/doFGBValidateFGBAccount"/>
			<endpoint contract="GetLoanDetails" address="/doFGBGetLoanAccountDetails"/>
			<endpoint contract="GetLoanSchedule" address="/doFGBGetLoanSchedule"/>
			<endpoint contract="RetrieveAccountMinistatement" address="/doFGBGetAccountMinistatement"/>
			<endpoint contract="RetrieveAccountDetails" address="/doFGBGetAccountDetails"/>
			<endpoint contract="GetCreditCardDetails" address="/doFGBRetrieveCreditCardDetails"/>
		</client>

		<client class="Omnia.Pie.Client.Repositories.Clients.CommonClient" baseAddress="http://192.168.108.25:35003/service/transaction">
			<endpoint contract="GetTransferLimit" address="/doFGBTransferLimits"/>
			<endpoint contract="ApplyExchangeRate" address="/doFGBApplyExchangeRate"/>
		</client>

		<client class="Omnia.Pie.Client.Repositories.Clients.ResourceRequestClient" baseAddress="http://192.168.108.25:35003/service/transaction">
			<endpoint contract="RequestChequebook" address="/doFGBRequestCheckbook"/>
			<endpoint contract="SendSmsOtp" address="/doFGBSendSMSOTPIIB"/>
			<endpoint contract="ValidateOtp" address="/doFGBValidateSMSOTP"/>
			<endpoint contract="GetCustomerDebitCards" address="/doFGBCustomerDebitCards"/>
		</client>

		<client class="Omnia.Pie.Client.Repositories.Clients.InvolvedPartyClient" baseAddress="http://192.168.108.25:35003/service/transaction">
			<endpoint contract="CreateLead" address="/doFGBCreateLead"/>
		</client>

		<client class="Omnia.Pie.Client.Repositories.Clients.ResourceClient" baseAddress="http://192.168.108.25:35003/service/transaction">
			<endpoint contract="TransferFundsOwn" address="/doFGBFundsTransferAccountsOwn"/>
			<endpoint contract="GetBeneficiary" address="/doFGBGetBeneficiaryList"/>
			<endpoint contract="TransferFundsOther" address="/doFGBFundsTransferAccountsOther"/>
			<endpoint contract="ValidateDuplicateBeneficiary" address="/doFGBValidateDuplicateBeneficiary"/>
			<endpoint contract="AddBeneficiary" address="/doFGBAddBeneficiary"/>
			<endpoint contract="SendSmsOtpMule" address="/doFGBSendSMSOTPMule"/>
			<endpoint contract="PayBill" address="/doFGBPayBill"/>
			<endpoint contract="GetMasterData" address="/doFGBGetMasterData"/>
			<endpoint contract="GetUtilityPaymentLimit" address="/doFGBGetUtilityPaymentLimit"/>
			<endpoint contract="AadcAccountPayment" address="/doFGBAadcAccountPayment"/>
			<endpoint contract="AadcCardPayment" address="/AadcCardPayment"/>
			<endpoint contract="AddcAccountPayment" address="/doFGBAddcAccountPayment"/>
			<endpoint contract="AddcCardPayment" address="/AddcCardPayment"/>
			<endpoint contract="DewaAccountPayment" address="/doFGBDewaAccountPayment"/>
			<endpoint contract="DewaCardPayment" address="/DewaCardPayment"/>
			<endpoint contract="DuAccountPayment" address="/doFGBDuAccountPayment"/>
			<endpoint contract="DuCardPayment" address="/DuCardPayment"/>
			<endpoint contract="DuRechargeAccountPayment" address="/doFGBDuRechargeAccountPayment"/>
			<endpoint contract="DuRechargeCardPayment" address="/DuRechargeCardPayment"/>
			<endpoint contract="EtisalatAccountPayment" address="/doFGBEtisalatAccountPayment"/>
			<endpoint contract="EtisalatCardPayment" address="/EtisalatCardPayment"/>
			<endpoint contract="GetAadcBalance" address="/doFGBGetAadcBalance"/>
			<endpoint contract="GetAddcBalance" address="/doFGBGetAddcBalance"/>
			<endpoint contract="GetDewaBalance" address="/doFGBDewaBalance"/>
			<endpoint contract="GetDuBalance" address="/doFGBGetDuBalance"/>
			<endpoint contract="GetDuRechargeBalance" address="/doFGBGetDuRechargeBalance"/>
			<endpoint contract="GetEtisalatBalance" address="/doFGBGetEtisalatBalance"/>
			<endpoint contract="GetSalikBalance" address="/doFGBGetSalikBalance"/>
			<endpoint contract="GetSewaBalance" address="/doFGBGetSewaBalance"/>
			<endpoint contract="GetWaselBalance" address="/doFGBGetWaselBalance"/>
			<endpoint contract="SalikAccountPayment" address="/doFGBSalikAccountPayment"/>
			<endpoint contract="SalikCardPayment" address="/salikCreditCardPayment"/>
			<endpoint contract="SewaAccountPayment" address="/doFGBSewaAccountPayment"/>
			<endpoint contract="SewaCardPayment" address="/SewaCardPayment"/>
			<endpoint contract="WaselAccountPayment" address="/doFGBWaselAccountPayment"/>
			<endpoint contract="WaselCardPayment" address="/WaselCardPayment"/>
		</client>

		<client class="Omnia.Pie.Client.Repositories.Clients.DmsClient" baseAddress="http://192.168.108.25:35003/service/transaction">
			<endpoint contract="UploadDocument" address="/doFGBUploadDocument"/>
		</client>

		<client class="Omnia.Pie.Client.Repositories.Clients.AlertClient" baseAddress="http://192.168.108.25:35003/service/transaction">
			<endpoint contract="SendEmail" address="/doFGBSendEmail"/>
			<endpoint contract="SendSms" address="/doFGBSendSms"/>
		</client>
	</clients>

	<appSettings>
		<add xdt:Transform="Insert" key="AuthorizeEndpointAddress" value="http://192.168.108.25:35004/connect/authorize" />
		<add xdt:Transform="Insert" key="TokenEndpointAddress" value="http://192.168.108.25:35004/connect/token" />
		<add xdt:Transform="Insert" key="EndsessionEndpointAddress" value="http://192.168.108.25:35004/connect/endsession" />
	</appSettings>
</configuration>