<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<endpoints xdt:Transform="Replace" timeoutSeconds="60" baseAddress="http://192.168.108.25:35003/request">
		<endpoint contract="GetAllCustomerDetail" address="/getcustomerdetails" />
		<endpoint contract="GetAccounts" address="/getaccounts" />
		<endpoint contract="GetLoanAccountsAsync" address="/getloanaccounts" />
		<endpoint contract="GetDepositAccountsAsync" address="/getdepositaccounts" />
		<endpoint contract="GetCreditCardAsync" address="/getcreditcards" />
		<endpoint contract="GetCreditCardDetailAsync" address="/getcreditcarddetail" />
		<endpoint contract="GetAccountDetail" address="/getaccountdetail" />
	</endpoints>

	<appSettings>
		<add xdt:Transform="Insert" key="AuthorizeEndpointAddress" value="" />
		<add xdt:Transform="Insert" key="TokenEndpointAddress" value="" />
		<add xdt:Transform="Insert" key="EndsessionEndpointAddress" value="" />
	</appSettings>
</configuration>